body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(assests/images/bg.jpg);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
